force-app/main/default/flows/Update_Albums.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Albums_Assignment</name>
        <label>Albums Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Albums_Loop.Is_Public__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Albums_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Albums_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Albums_Loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Update Albums {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Albums Public</label>
    <loops>
        <name>Albums_Loop</name>
        <label>Albums Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Albums_To_Publish</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Albums_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Albums_As_Public</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Albums_To_Publish</name>
        <label>Get Albums To Publish</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Albums_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Release_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Public__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Album__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Albums_As_Public</name>
        <label>Set Albums As Public</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Albums_To_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Albums_To_Publish</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-07-06</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Albums_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Album__c</objectType>
    </variables>
</Flow>
