force-app/main/default/flows/Update_Duration_Playlist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Collection</name>
        <label>Add Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Collections_To_Updates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Playlist_Songs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Playlist_Songs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigment_New_Duration</name>
        <label>Assigment New Duration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Playlist_Songs.Duration_Num__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Duration Playlist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Duration Playlist</label>
    <loops>
        <name>Loop_Playlist_Songs</name>
        <label>Loop Playlist Songs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Playlist_Songs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigment_New_Duration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Playlist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Playlist_Songs</name>
        <label>Get Playlist Songs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Playlist_Songs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SongId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Playlist_Song__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Playlist</name>
        <label>Update_Playlist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Collections_To_Updates</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Playlist_Songs</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Duration__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Song__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Playlist_Song__c</objectType>
    </variables>
    <variables>
        <name>Collections_To_Updates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Playlist_Song__c</objectType>
    </variables>
</Flow>
